@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

body{font-family: 'Roboto', sans-serif;font-size: 15px;line-height: 28px;}

.slide-bg-1 {background-image: url(assets/img/slide-bg-1.jpg);}
.service-bg-1 {background-image: url(assets/img/service-bg-1.jpg);}
.project-bg-1 {background-image: url(assets/img/project-bg-1.jpg);}
.blog-bg-1 {background-image: url(assets/img/boxed-bg-1.jpg);}


.header-top-area {
    background-color: #222;
    font-size: 14px;
    padding: 10px 0;
}

.header-top-area a, .header-top-area {
    color: #fff;
}

.header-top-area i.fa {
    color: #f7be49;
}

.seprator {
    display: inline-block;
    padding: 0 10px;
}

.main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.main_menu li {
    position: relative;
    display: inline-block;
}

.main_menu li a {
    display: block;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 30px 20px;
}

.main_menu li:hover  a{
    background-color: #f4f4f4;
    text-decoration: none;
}

.logo a {
    color: #494949;
}

.logo {
    text-transform: uppercase;
    padding: 12px 0;
}

.logo h1 {
    margin: 5px 0;
    font-size: 16px;
    display: inline-block;
    border: 3px solid #494949;
    padding: 10px 20px;
}

.header-search-bar {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}

.single-slide-item {
    background-size: cover;
    background-position: center;
    background-color: #dddddd;
    height: 590px;
    font-size: 24px;
    color: #fff;
}

.slide-item-table {
    display: table;
    width: 100%;
    height: 100%;
}

.slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-slide-item h2 {
    font-size: 60px;
    margin: 0 0 30px;
}

.factorian-btn {
    display: inline-block;
    background: #f7be49;
    color: #222;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
}

.factorian-btn.slide-btn {
    margin-top: 20px;
}

.factorian-content-block {
    padding: 100px 0;
}

.service-item-bg {
    height: 180px;
    -webkit-background-size: cover;
    background-size: cover;
    position: center;
    background-color: #dddddd;
}
h3 {
    font-size: 22px;
    font-weight: 700;
}

.service-readmore-btn {
    font-weight: 700;
    color: #222;
}

.service-readmore-btn i.fa {
    padding-left: 5px;
}

.single-small-service-item {
    display: block;
    color: #222;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 25px;
}

.single-small-service-item img {
    float: left;
    margin-right: 15px;
}

.service-thumb {
    width: 72px;
    height: 72px;
}

.single-small-service-item h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
}

.single-small-service-item p:last-child {
    margin: 0;
}

.single-small-service-item:hover {
    text-decoration: none;
    color: #222;
    opacity: .8;
}

.factorian-cta-area {
    background: #222222;
    color: #fff;
    padding: 40px 0;
}

.factorian-cta-area h2 {
    margin: 9px 0;
}


.who-we-are-text {
    padding: 0 40px;
}
.single-promo-item {
	position: relative;
	padding-left: 45px;
	margin-top: 70px;
}
.single-promo-item i.fa{
	position: absolute;
	left: 0;	
	top: 0;
	color: #f7be49;
	width: 25px; ;
	height: 25px;
	border: 2px solid #f7be49;
	border-radius: 50%;
	text-align: center;
	line-height: 22px;
}
.factorian-content-block.section-gray {
	background-color: #f2f5f7;
}
.check-list li:before {
	content: "\f00c";
	font-family: fontawesome;
	color: #f7be49;
	padding-right: 9px;
}
.check-list {
	margin: 0;
	padding: 0;
	line-height: 31px;
	list-style:none;
	font-weight: 500;
	margin-top: 20px;
}
.section-title {
	max-width: 415px;
	text-align: center;
	margin-bottom: 50px;
	margin: 0 auto 50px;
}
.section-title h3 {
	margin: 0;
	line-height: 30px;
}
.boxed-preview {
	height: 180px;
	margin-bottom: 20px;
}
.single-boxed-item {
	color: #6e6e6e;
	display: block;
	margin-bottom: 30px;
}
.single-boxed-item:hover {
	text-decoration: none;
	opacity: .8;
}
.single-boxed-item h4 {
	font-weight: 700;
	color: #222;
	margin: 0 0 10px;
}
.factorian-content-block.testimonial-area {
	border-top: 1px solid #ddd;
	padding: 80px 0;
}
.single-testimonial-item {
	color: #666;
	margin-bottom: 30px;
}
.testimonial-content {
	font-style: italic;

}
.testimonial-content i.fa {
	font-size: 150%;
}
.single-testimonial-item h4 {
	font-size: 16px;
	margin: 20px 0 0;
}
.single-testimonial-item h4 span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	margin-top: 10px;
}
.footer-top-area {
	background: #222222;
}
.footer-top-area, .footer-top-area a {
	color: #cacaca;
}
.footer-wid {
	padding: 80px 0;
}
.footer-logo {
	margin: 0 0 20px;
	background: #fff;
	display: inline-block;
	padding: 10px 30px;
	font-size: 16px;
	text-transform: uppercase;
	color: #222;

}
.footer-wid-title {
	margin: 0 0 20px;
	color: #ffffff;
	font-size: 18px;
}
.footer-wid ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-copyright-area {
	background: #1d1d1d;
	color: #fff;
	padding: 15px 0;
}